.tweetcard {
    width: 50%;
    min-width: 30em;
    background: white;
    box-shadow: 3px 3px 8px 0px rgb(0,0,0,0.35);
    border-radius: 15px;
    padding-bottom: 15px;
    margin: 15px 0px 15px 0px;
  }
  .tweetcontent {
    margin-left: 12%;
    border: none;
    width: -webkit-fill-available;
    height: fit-content;
  }
  .userpicture{
    margin: 2%;
    border-radius: 50%;
  }
  .userinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .icons{
    padding-left: 5px;
  }
  .numbers{
    padding-left: 20%;
  }
  .icons:hover{
    color: #FFEF00;
  }